{
  "name": "PubConf",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "Gruntfile.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"Gruntfile.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"Gruntfile-dist.js\"}"
    },
    {
      "path": "sass/partials/_mixins.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/partials/_mixins.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_mixins.css\"}"
    },
    {
      "path": "CONTRIBUTING.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"CONTRIBUTING.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"CONTRIBUTING.html\"}"
    },
    {
      "path": "README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":false,\"customOutput\":\"README.html\"}"
    },
    {
      "path": "js/reveal.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/reveal.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/reveal-dist.js\"}"
    },
    {
      "path": "plugin/highlight/highlight.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"plugin/highlight/highlight.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"plugin/highlight/highlight-dist.js\"}"
    },
    {
      "path": "plugin/markdown/example.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"plugin/markdown/example.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"plugin/html/example.html\"}"
    },
    {
      "path": "plugin/markdown/markdown.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"plugin/markdown/markdown.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"plugin/markdown/markdown-dist.js\"}"
    },
    {
      "path": "plugin/markdown/marked.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"plugin/markdown/marked.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"plugin/markdown/marked-dist.js\"}"
    },
    {
      "path": "plugin/math/math.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"plugin/math/math.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"plugin/math/math-dist.js\"}"
    },
    {
      "path": "plugin/multiplex/client.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"plugin/multiplex/client.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"plugin/multiplex/client-dist.js\"}"
    },
    {
      "path": "plugin/multiplex/index.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"plugin/multiplex/index.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"plugin/multiplex/index-dist.js\"}"
    },
    {
      "path": "plugin/multiplex/master.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"plugin/multiplex/master.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"plugin/multiplex/master-dist.js\"}"
    },
    {
      "path": "plugin/notes/notes.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"plugin/notes/notes.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"plugin/notes/notes-dist.js\"}"
    },
    {
      "path": "plugin/print-pdf/print-pdf.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"plugin/print-pdf/print-pdf.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"plugin/print-pdf/print-pdf-dist.js\"}"
    },
    {
      "path": "plugin/notes-server/client.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"plugin/notes-server/client.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"plugin/notes-server/client-dist.js\"}"
    },
    {
      "path": "plugin/notes-server/index.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"plugin/notes-server/index.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"plugin/notes-server/index-dist.js\"}"
    },
    {
      "path": "plugin/search/search.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"plugin/search/search.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"plugin/search/search-dist.js\"}"
    },
    {
      "path": "plugin/zoom-js/zoom.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"plugin/zoom-js/zoom.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"plugin/zoom-js/zoom-dist.js\"}"
    },
    {
      "path": "css/reveal.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/reveal.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/reveal-dist.css\"}"
    },
    {
      "path": "css/reveal.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"css/reveal.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/reveal.css\"}"
    },
    {
      "path": "css/print/paper.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/print/paper.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/print/paper-dist.css\"}"
    },
    {
      "path": "css/print/pdf.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/print/pdf.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/print/pdf-dist.css\"}"
    },
    {
      "path": "css/theme/beige.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/theme/beige.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/theme/beige-dist.css\"}"
    },
    {
      "path": "css/theme/black.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/theme/black.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/theme/black-dist.css\"}"
    },
    {
      "path": "css/theme/blood.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/theme/blood.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/theme/blood-dist.css\"}"
    },
    {
      "path": "css/theme/league.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/theme/league.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/theme/league-dist.css\"}"
    },
    {
      "path": "css/theme/moon.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/theme/moon.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/theme/moon-dist.css\"}"
    },
    {
      "path": "css/theme/night.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/theme/night.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/theme/night-dist.css\"}"
    },
    {
      "path": "css/theme/README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"css/theme/README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"css/theme/README.html\"}"
    },
    {
      "path": "css/theme/serif.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/theme/serif.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/theme/serif-dist.css\"}"
    },
    {
      "path": "css/theme/simple.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/theme/simple.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/theme/simple-dist.css\"}"
    },
    {
      "path": "css/theme/sky.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/theme/sky.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/theme/sky-dist.css\"}"
    },
    {
      "path": "css/theme/solarized.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/theme/solarized.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/theme/solarized-dist.css\"}"
    },
    {
      "path": "css/theme/white.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/theme/white.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/theme/white-dist.css\"}"
    },
    {
      "path": "css/theme/source/beige.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"css/theme/source/beige.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/theme/source/beige.css\"}"
    },
    {
      "path": "css/theme/source/black.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"css/theme/source/black.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/theme/source/black.css\"}"
    },
    {
      "path": "css/theme/source/blood.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"css/theme/source/blood.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/theme/source/blood.css\"}"
    },
    {
      "path": "css/theme/source/league.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"css/theme/source/league.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/theme/source/league.css\"}"
    },
    {
      "path": "css/theme/source/moon.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"css/theme/source/moon.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/theme/source/moon.css\"}"
    },
    {
      "path": "css/theme/source/night.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"css/theme/source/night.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/theme/source/night.css\"}"
    },
    {
      "path": "css/theme/source/serif.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"css/theme/source/serif.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/theme/source/serif.css\"}"
    },
    {
      "path": "css/theme/source/simple.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"css/theme/source/simple.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/theme/source/simple.css\"}"
    },
    {
      "path": "css/theme/source/sky.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"css/theme/source/sky.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/theme/source/sky.css\"}"
    },
    {
      "path": "css/theme/source/solarized.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"css/theme/source/solarized.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/theme/source/solarized.css\"}"
    },
    {
      "path": "css/theme/source/white.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"css/theme/source/white.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/theme/source/white.css\"}"
    },
    {
      "path": "css/theme/template/mixins.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"css/theme/template/mixins.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/theme/template/mixins.css\"}"
    },
    {
      "path": "css/theme/template/settings.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"css/theme/template/settings.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/theme/template/settings.css\"}"
    },
    {
      "path": "css/theme/template/theme.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"css/theme/template/theme.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/theme/template/theme.css\"}"
    },
    {
      "path": "lib/css/zenburn.css",
      "configJson": "{\"compiler-css\":{\"path\":\"lib/css/zenburn.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"lib/css/zenburn-dist.css\"}"
    },
    {
      "path": "lib/js/classList.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"lib/js/classList.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"lib/js/classList-dist.js\"}"
    },
    {
      "path": "lib/js/head.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"lib/js/head.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"lib/js/head.min-dist.js\"}"
    },
    {
      "path": "lib/js/html5shiv.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"lib/js/html5shiv.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"lib/js/html5shiv-dist.js\"}"
    },
    {
      "path": "lib/font/league-gothic/league-gothic.css",
      "configJson": "{\"compiler-css\":{\"path\":\"lib/font/league-gothic/league-gothic.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"lib/font/league-gothic/league-gothic-dist.css\"}"
    },
    {
      "path": "lib/font/source-sans-pro/source-sans-pro.css",
      "configJson": "{\"compiler-css\":{\"path\":\"lib/font/source-sans-pro/source-sans-pro.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"lib/font/source-sans-pro/source-sans-pro-dist.css\"}"
    },
    {
      "path": "test/qunit-1.12.0.css",
      "configJson": "{\"compiler-css\":{\"path\":\"test/qunit-1.12.0.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"test/qunit-1.12.0-dist.css\"}"
    },
    {
      "path": "test/qunit-1.12.0.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"test/qunit-1.12.0.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"test/qunit-1.12.0-dist.js\"}"
    },
    {
      "path": "test/test-markdown-element-attributes.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"test/test-markdown-element-attributes.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"test/test-markdown-element-attributes-dist.js\"}"
    },
    {
      "path": "test/test-markdown-slide-attributes.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"test/test-markdown-slide-attributes.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"test/test-markdown-slide-attributes-dist.js\"}"
    },
    {
      "path": "test/test-markdown.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"test/test-markdown.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"test/test-markdown-dist.js\"}"
    },
    {
      "path": "test/test-pdf.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"test/test-pdf.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"test/test-pdf-dist.js\"}"
    },
    {
      "path": "test/test.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"test/test.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"test/test-dist.js\"}"
    },
    {
      "path": "test/examples/assets/image1.png",
      "configJson": "{\"compiler-png\":{\"path\":\"test/examples/assets/image1.png\",\"size\":21991,\"initialSize\":21991,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "test/examples/assets/image2.png",
      "configJson": "{\"compiler-png\":{\"path\":\"test/examples/assets/image2.png\",\"size\":10237,\"initialSize\":10237,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "index.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"index.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"index.html\"}"
    },
    {
      "path": "sass/lemon-slides.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/lemon-slides.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"compact\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"css/lemon-slides.css\"}"
    },
    {
      "path": "sass/partials/_base.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/partials/_base.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_base.css\"}"
    },
    {
      "path": "sass/partials/_defaults.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/partials/_defaults.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_defaults.css\"}"
    },
    {
      "path": "sass/partials/_extends.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/partials/_extends.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_extends.css\"}"
    },
    {
      "path": "sass/partials/_header.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/partials/_header.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_header.css\"}"
    },
    {
      "path": "sass/partials/_home.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/partials/_home.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_home.css\"}"
    },
    {
      "path": "sass/partials/_reset.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/partials/_reset.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_reset.css\"}"
    },
    {
      "path": "sass/partials/_variables.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/partials/_variables.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_variables.css\"}"
    },
    {
      "path": "sass/partials/_sidebar.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/partials/_sidebar.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_sidebar.css\"}"
    },
    {
      "path": "sass/partials/_z-index.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/partials/_z-index.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_z-index.css\"}"
    },
    {
      "path": "css/lemon-slides.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/lemon-slides.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/lemon-slides-dist.css\"}"
    },
    {
      "path": "img/codekit.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/codekit.png\",\"size\":13709,\"initialSize\":13709,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/prepros.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/prepros.png\",\"size\":17236,\"initialSize\":17236,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/bg/prepros.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/bg/prepros.png\",\"size\":196585,\"initialSize\":196585,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/bg/grunt.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/bg/grunt.png\",\"size\":295707,\"initialSize\":295707,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/damndog-logo.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/damndog-logo.png\",\"size\":9010,\"initialSize\":9010,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/rum.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/rum.png\",\"size\":123537,\"initialSize\":123537,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gin.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/gin.png\",\"size\":75048,\"initialSize\":75048,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/bg/hampton.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/bg/hampton.jpg\",\"size\":62982,\"initialSize\":62982,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/bg/chicago.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/bg/chicago.png\",\"size\":376985,\"initialSize\":376985,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/bg/fplus_sheet.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/bg/fplus_sheet.png\",\"size\":18356,\"initialSize\":18356,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/slim.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/slim.png\",\"size\":98274,\"initialSize\":98274,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/bg/tyra1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/bg/tyra1.jpg\",\"size\":1506197,\"initialSize\":1506197,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/bg/pug.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/bg/pug.png\",\"size\":59734,\"initialSize\":59734,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/bg/my-prepros.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/bg/my-prepros.png\",\"size\":52854,\"initialSize\":52854,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/bg/titlecard-withkeys.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/bg/titlecard-withkeys.png\",\"size\":58562,\"initialSize\":58562,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/bg/titleCard.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/bg/titleCard.png\",\"size\":44160,\"initialSize\":44160,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "pug/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "pug",
      "test"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/lemon-slides.scss",
      "imports": [
        "sass/partials/_variables.scss",
        "sass/partials/_z-index.scss",
        "sass/partials/_mixins.scss",
        "sass/partials/_extends.scss",
        "sass/partials/_reset.scss",
        "sass/partials/_defaults.scss"
      ]
    },
    {
      "path": "css/theme/source/beige.scss",
      "imports": [
        "css/theme/template/mixins.scss",
        "css/theme/template/settings.scss",
        "css/theme/template/theme.scss"
      ]
    },
    {
      "path": "css/theme/source/black.scss",
      "imports": [
        "css/theme/template/mixins.scss",
        "css/theme/template/settings.scss",
        "css/theme/template/theme.scss"
      ]
    },
    {
      "path": "css/theme/source/blood.scss",
      "imports": [
        "css/theme/template/mixins.scss",
        "css/theme/template/settings.scss",
        "css/theme/template/theme.scss"
      ]
    },
    {
      "path": "css/theme/source/league.scss",
      "imports": [
        "css/theme/template/mixins.scss",
        "css/theme/template/settings.scss",
        "css/theme/template/theme.scss"
      ]
    },
    {
      "path": "css/theme/source/moon.scss",
      "imports": [
        "css/theme/template/mixins.scss",
        "css/theme/template/settings.scss",
        "css/theme/template/theme.scss"
      ]
    },
    {
      "path": "css/theme/source/night.scss",
      "imports": [
        "css/theme/template/mixins.scss",
        "css/theme/template/settings.scss",
        "css/theme/template/theme.scss"
      ]
    },
    {
      "path": "css/theme/source/serif.scss",
      "imports": [
        "css/theme/template/mixins.scss",
        "css/theme/template/settings.scss",
        "css/theme/template/theme.scss"
      ]
    },
    {
      "path": "css/theme/source/simple.scss",
      "imports": [
        "css/theme/template/mixins.scss",
        "css/theme/template/settings.scss",
        "css/theme/template/theme.scss"
      ]
    },
    {
      "path": "css/theme/source/sky.scss",
      "imports": [
        "css/theme/template/mixins.scss",
        "css/theme/template/settings.scss",
        "css/theme/template/theme.scss"
      ]
    },
    {
      "path": "css/theme/source/solarized.scss",
      "imports": [
        "css/theme/template/mixins.scss",
        "css/theme/template/settings.scss",
        "css/theme/template/theme.scss"
      ]
    },
    {
      "path": "css/theme/source/white.scss",
      "imports": [
        "css/theme/template/mixins.scss",
        "css/theme/template/settings.scss",
        "css/theme/template/theme.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "rb",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7888,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-minify-css\":{\"enabled\":false}}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"autoCompile\":true,\"compiler-pug\":{\"pretty\":true,\"enabled\":true},\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\"}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-javascript\":{\"mangle\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\",\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":true,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":true,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":true,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":true,\"compiler-livescript\":{\"bare\":false,\"mangle\":true,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": true,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}