doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Lemon | PubConf Minneapolis 
    link(rel="stylesheet" href="css/reveal.css")
    link(rel="stylesheet" href="css/theme/blood.css")
    link(rel="stylesheet" href="lib/css/zenburn.css")
    link(rel="stylesheet" href="css/lemon-slides.css")
  body
    
    mixin techLogo(name, fragment, fileType)
      if fileType == "png"
        -src = 'img/'+name+'.png'
      else
        -src = 'svg/'+name+'.svg'
      if fragment
        .logo.fragment
          img(src=src)
      else
        .logo
          img(src=src)
    
    .reveal
      .slides
        section(data-background-image="img/bg/pubconf.jpg" data-autoslide="0")
          section
            h1 Let's get started.
            //-
              h3 Navigation:
              ol
                li Use the spacebar to go to the next frame.
                li Arrow keys also work, but the slides go up/down as well as left/right.
                li Hit ESC for a zoomed out view.
        section
          section(data-autoslide="3000")
            h3 Hi there, I'm Lemon.
            p.fragment(data-autoslide="2000") I make websites.
          section(data-autoslide="10000")
            ul
              li idiots.win
              li partypartypartyparty.party
              li jerking.online
              li damn.dog
        section
          section(data-autoslide="3000")
            p Tonight, let's talk about 
            img(src="img/damndog-logo.png" style="max-height:50vh;")
            p and how I made it popular.
          section(data-background-image="img/bg/damndog-ss1.jpg" data-autoslide="10000")
          section(data-background-image="img/bg/damndog-ss2.jpg" data-autoslide="2000")
        section
          section(data-autoslide="5000")
            p So first, I built the site.
          section(data-background-image="img/bg/damndog-code1.jpg" data-autoslide="8000")
          section(data-autoslide="2000")
            h3 Site's done!
            p Let's launch this.
        section
          section(data-background-image="img/bg/blackstats1.jpg" data-autoslide="5000")
            h2.fragment(data-autoslide="2000") Nice, but we can do better.
          section(data-autoslide="4000")
            h3 Time for some promotion
          section(data-background-image="img/bg/ed-sheeran.jpg" data-autoslide="4000")
        section
          section(data-background-image="img/bg/gizmodo-1.jpg" data-transition="none" data-autoslide="6000")
          section(data-background-image="img/bg/gizmodo-2.jpg" data-transition="none" data-autoslide="4000")
          section(data-background-image="img/bg/blackstats2.jpg" data-autoslide="5000")
        section
          section(data-autoslide="4000")
            h1 SEO
            h3.fragment(data-autoslide="4000") Experts
          section(data-background-image="img/bg/damndog-code2.jpg" data-autoslide="7000")
        section
          section(data-background-image="img/bg/damndog-code3.jpg" data-autoslide="10000")
          section(data-background-image="img/bg/damndog-code4.jpg" data-autoslide="5000")
        section
          section(data-background-image="img/bg/damndog-code5.jpg" data-autoslide="5000")
          section(data-autoslide="5000")
            h2 Okay, so...
            h3 How did we do?
          section(data-background-image="img/bg/blackstats3.jpg" data-autoslide="5000")
        section
          section(data-autoslide="3000")
            h1 SEO
            h3 Experts
            h3 Lie
          section(data-autoslide="3000")
            p (That's not fair.)
          section(data-autoslide="3000")
            p Everybody lies sometimes.
          section(data-background-image="img/bg/blackstats-wtf.jpg" data-autoslide="6000")
        section
          section(data-autoslide="4000")
            p So, what to do next?
          section(data-background-image="img/bg/typing.gif" data-autoslide="4000")
          section(data-autoslide="2000")
            p I make websites.
          section(data-background-image="img/bg/beerdance.gif" data-autoslide="2000")
            p Making websites is fun.
        section
          section(data-autoslide="2000")
            h3 Just then...
          section(data-background-image="img/bg/pewdiepie.gif" data-autoslide="13000")
        section
          section(data-autoslide="7500")
            img(src="img/pievideo1.png")
            p.fragment(data-autoslide="7500")
              img(src="img/pievideo2.png")
        section
          section(data-background-image="img/bg/blackstats4.jpg" data-autoslide="5000")
          section(data-autoslide="5000")
            h2 Oh, I'm popular!
          section(data-background-image="img/bg/boredcat.jpg" data-autoslide="5000")
            h2 Oh, I'm popular?
        section
          section(data-autoslide="5000")
            p Things you get when you have a popular website:
            ol.fragment(data-autoslide="3000")
              li
                span.fragment(data-autoslide="4000") Annoyed on Twitter?
          section(data-background-image="img/bg/blackstats5.jpg" data-autoslide="3000")
        section
          section(data-background-image="img/bg/typing.gif" data-autoslide="5000")
          section(data-autoslide="3000")
            p I make websites
          section(data-background-image="img/bg/beerdance.gif" data-autoslide="0")
            p Making websites is fun.
              
    //- .my-progress#myProgress
      .progress-bar#myBar
    script(src="lib/js/head.min.js")
    script(src="js/reveal.js")
    script(type="text/javascript").
      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
          history: true,
          loop: false,
          progress: true,
          autoSlide: 15000,

          // More info https://github.com/hakimel/reveal.js#dependencies
          dependencies: [
              { src: 'plugin/markdown/marked.js' },
              { src: 'plugin/markdown/markdown.js' },
              { src: 'plugin/notes/notes.js', async: true },
              { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
          ]
      });
      
      
    //- script.
      
      var width = 0;
      var elem = document.getElementById("myBar");
      
      

      function advanceFrame() {
        width = 0;
        move();
        Reveal.right();
      }
      
      function move() {
        
        var id = setInterval(frame, 10);
        function frame() {
          if (width >= 100) {
            clearInterval(id);
            advanceFrame();
          } else {
            width = width + 0.065; 
            elem.style.width = width + '%'; 
            //elem.innerHTML = width.toFixed(1)  + '%';
          }
        }
      }
      
      move();
      