doctype html
html(lang="en")
  head
    style.
      @mixin flex-container($align:stretch, $direction:row, $wrap:wrap) {
        display: flex;
        flex-direction: $direction;
        flex-wrap: $wrap;
        @if ($align != "stretch") {
          align-items: $align;
        }
      }
      i { font-style:italic; }


      @mixin flex-item($basis, $grow:1, $shrink:1, $align:auto) {
        @if $grow == 0 {
          width:$basis;
          flex-basis: $basis;
        } @else {
          flex-basis: $basis;
        }
        flex-grow: $grow;
        flex-shrink: $shrink;
        align-self: $align;
      }


      body { font-family:'Lora', serif; padding-right:1em; background-color:#222; }
      h1 { font-size:4em; text-align:center; margin-top:1em; margin-bottom:2.5em; font-weight:bold; }
      canvas { max-width:100%; padding:1em;
        position:relative;
      }
      p { padding:1.5em; opacity:0.7; font-size:85%; }

      .chart-grid { @include flex-container(); padding:3em; }
    body
      .chart-grid
        .full
          canvas#visitTimeline(width="160" height="90")
          
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js")
    script.
      var ctx = document.getElementById("visitTimeline");
      Chart.defaults.global.defaultFontSize = 30;
      Chart.defaults.global.defaultFontColor = '#fff';

      var circleLegend = {
        labels: {
          fontSize: 14,
          fontFamily: "Lora",
          boxWidth: 12,
          usePointStyle: true,
          padding: 10
        }
      }
      var percentTooltip = {
        mode: 'label',
        callbacks: {
          label: function(tooltipItem, data) {
            return data['labels'][tooltipItem['index']] + ": " + data['datasets'][0]['data'][tooltipItem['index']] + '%';
          }
        }
      }

      var d = {
        borderWidth: 3,
        pointBorderWidth: 5,
        pointHoverRadius: 8,
        pointHoverBorderWidth: 6,
        pointHitRadius: 8
      }

      var visitTimeline = new Chart(ctx, {
        defaultFontSize: 60,
        type: 'line',
        defaultFontColor: "#ff0000",
        data: {
          labels: ["", "", "", "", "", "", ""],
          datasets: [{
            label: 'Avg Visitors Per Day',
            data: [0, 160, 478, 426, 41143, 5754, null],
            borderWidth: d.borderWidth,
            pointBorderWidth: d.pointBorderWidth,
            pointHoverRadius: d.pointHoverRadius,
            pointHoverBorderWidth: d.pointHoverBorderWidth,
            pointHitRadius: d.pointHitRadius,
            fill: false,
            borderColor: "rgba(237, 125, 33, 0.9)",
            backgroundColor: "rgba(237, 125, 33, 1)"
          }]
        },
        options: {
          tooltips: {
            //titleFontFamily: "'Lora', serif",
            bodyFontFamily: "'Lora', serif"
          },
          title: {
            display: false,
            text: "daily traffic to thefpl.us",
            fontSize: 20,
            fontFamily: "'Lora', serif"
          },
          legend: false
        },
        tooltips: {
          titleFontFamily: "'Lora', serif",
          bodyFontFamily: "'Lora', serif"
        },
        animation: {
          animateScale: true,
          easing: 'easeInBounce'
            //duration: 6000
        }
      });